<p>Dear <%= firstname%> <%= lastname%>,</p>

<p>Thank you for you call.  We have issued return authorization <%= rma_number%> for your order #<%= order_id%></p>
<p>Please use the box label and packing slip attached to this email to expedite your return.  Please remember you are responsible for the cost of shipping the product back to us:<br><br></p>


<%=return_address%>


<p><%= rma_number%>.<br><br></p>


<p>Once the warehouse receives the package, it will be processed as a return and within 5-10 business days your refund will be issued and an email to will be sent to notify you that this has been done.<br></p>

Thank you for trying our product <br>
The Natural Wellbeing team <br>
1-800-536-9353