<div align="center">
  <table border="0" cellspacing="1" cellpadding="5" class="products" width="400">
    <tr>
      <td valign="top" align="left"><strong>RETURN LABEL:</strong></td>
    </tr>

    <tr><td valign="top" align="left">
      From:</p><br>
      <%= firstname%> <%= lastname%><br>
      <%=address1%><%=address2%><br>
      <%=cityname%>, <%=statename%>, <%=zipcode%> <%=country%><br><br><br>

      Return Authorization #<%= rma_number%><br><br>
    </td></tr>

    <tr><td valign="top" align="left">
      <img src="https://barcode.tec-it.com/barcode.ashx?code=Code128&amp;modulewidth=fit&amp;data=<%= rma_number%>&amp;dpi=72&amp;imagetype=gif&amp;rotation=0&amp;color=&amp;bgcolor=&amp;fontcolor=&amp;quiet=0&amp;qunit=mm"
    </td></tr>

    <tr>
      <td valign="top" align="left">
        To:</p><br>
        <%=return_address%>
      </td>
    </tr>

  </table>
</div>