<div align="center">
  <table border="0" cellspacing="1" cellpadding="5" class="products" width="400">
    <tr>
      <td valign="top" align="left"><strong>Return Authorization Packing Slip Insert<br></strong></td>
    </tr>

    <tr>
      <td valign="top" align="left"><%= rma_number%></td>
    </tr>
    <tr>
      <td valign="top" align="left"><img src="https://barcode.tec-it.com/barcode.ashx?code=Code128&amp;modulewidth=fit&amp;data=<%= rma_number%>&amp;dpi=72&amp;imagetype=gif&amp;rotation=0&amp;color=&amp;bgcolor=&amp;fontcolor=&amp;quiet=0&amp;qunit=mm"</td>
    </tr>


    <% returnunits.each do |returnunit| %>

        <tr>
          <td valign="top" align="left">
            Item: <%=returnunit[:sku]%><br>
            Quantity: <%=returnunit[:quantity]%><br>
            Sealed: <%=returnunit[:sealedqty]%><br>
            Open: <%=returnunit[:openqty]%></td><br>
        </tr>
    <% end %>

    <tr>
      <td valign="top" align="left"><br>Return Reason: <%= rma_reason%></td>
    </tr>

  </table>
</div>